* {
    padding: 0;
    margin: 0;
}

body {
  
}

:root {
    --primary-color: #0580B0; 
    --description-color: #444444; 
    --white-color: #ffffff; 
    --black-color: #000000;
    --pink-background: #FFEBE2; 
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
}

.container{
width:100%;
padding: 0 ;
}
/* banner css start */

.connect_banner {
    display: flex;
    background-image: url('../images/banner-images/banner-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
}

.connect-banner-1 img{
   border-radius: 20px;
   width: 100%;
   
}

.connect-banner-2 img{
    border-radius: 20px;
    width: 100%;
 }
 .connect-banner-1 {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 24%;

}
.connect-banner-2 {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 24%;
}

.connect-banner-3{
    width: 48%;
   
}

  