* {
    padding: 0;
    margin: 0;
}

body {
  
}

:root {
    --primary-color: #0580B0; 
    --description-color: #444444; 
    --white-color: #ffffff; 
    --black-color: #000000;
    --pink-background: #FFEBE2; 
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
}

.container{
width:100%;
padding: 0 100px;

}
/* banner css start */

.connect_banner{
    display:flex;
    background-image: url('../images/banner-images/banner-bg.png');
  background-position: center;
  background-repeat: no-repeat;
}


.connect-banner-1 img{
   border-radius: 20px;
}

.connect-banner-1 {
    width: 50%;
}
.connect-banner-2 {
    width: 50%;
}

.connect-banner-1 {
    display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
  grid-template-rows: 1fr 1fr; /* Two equal-height rows */
  gap: 10px; /* Consistent gap between images */
  height: 100%;
  }
  
  .connect-banner-1 img {
    width: 100%; /* Full width for each grid cell */
    height: 100%; /* Full height for each grid cell */
    object-fit: cover;
  }
  